        </div><!-- end main column -->
      </div>
      <p class="text-muted pull-right">footer</p>
    </div><!-- end main container -->
    <script src="/assets/familysearch-javascript-sdk.min.js"></script>
    <script>
      var client = new FamilySearch({
        client_id: 'a02j0000008gOCiAAM',
        redirect_uri: 'https://fs-javascript-sdk-sample-app-justincy.c9.io/',
        environment: 'sandbox'
      });
    </script>
  </body>
</html>